{% extends "base.html.twig" %}

{% block title %}Stage - {{ stage.slug }}{% endblock %}

{% block body %}
<div class="flex flex-col min-h-screen overflow-hidden">

	<!-- Page content -->
	<main class="grow">

		<!-- Blog post -->
		<section class="relative">

			<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
				<div class="py-2">
					<div class="max-w-3xl mx-auto">
						{% for rendu in compteRendu %}

						<article id="eventContent" class=" border-b my-12">
							<!-- Article header -->
							<header class="mb-8">
								<!-- Title and excerpt -->
								<div class="text-center md:text-left">
									<h2 class="text-3xl font-bold mb-4" data-aos="fade-down">{{ rendu.titre }}</h2>
								</div>
							</header>
							<hr class="w-5 h-px pt-px bg-gray-400 dark:bg-gray-500 border-0 mb-8" data-aos="fade-down" data-aos-delay="450"/>

							<!-- Article content -->
							<div class="text-lg text-pretty text-gray-600 dark:text-gray-400 mb-1" data-aos="fade-up" data-aos-delay="450">

								<figure class="mb-8 mt-8 flex justify-center">
									<img class="shadow-lg rounded-lg w-52" src="/images/compteRendu/{{rendu.imageName}}" alt="{{ rendu.titre }}"/>
								</figure>

								<div class="leading-relaxed">
									{{ rendu.message|raw }}
								</div>
							</div>

						</article>
						{% endfor %}

					</div>
				</div>
			</div>
		</section>
	</main>

</div>
{% endblock %}
